<div class="background">
  <div class="row">
    <div class="col-sm-offset-3 col-sm-6 col-xs-12">
      <div ng-repeat="post in main.posts | limitTo: main.postsCount">
        <article class="post">
          <div class="post_header">
            <a href="https://jsonplaceholder.typicode.com/photos/{{$index + 1}}"><img class="profile_image_small" ng-src="{{post.thumbnailUrl}}" alt=""/></a>
            https://jsonplaceholder.typicode.com/photos/{{$index + 1}}
            <span>Publish date</span>
          </div>
          <img class="post_content" ng-src="{{post.url}}"/>
          <section class="post_footer">
            <span>Просмотры</span>
            <div class="comments">
            </div>
            <hr>
            <div class="row">
              <div class="heart col-xs-2"></div>
              <div class="col-xs-10">
                <input type="text">
              </div>
            </div>
          </section>
        </article>
      </div>
    </div>
  </div>
  <div class="row">
    <div>
      <button type="button" ng-click="main.showMorePostsFunc()">Show more</button>
    </div>
  </div>
</div>