<div class="background">
  <div class="row">
    <div class="col-sm-offset-3 col-sm-6 col-xs-12">
      <div ng-repeat="post in main.posts | limitTo: main.postsCount">
        <article class="post">
          <div class="post_header">
            {{post.id}}
            <img class="profile_image_small" ng-src="{{post.picture}}" alt=""/>
            <span>{{post.published}}</span>
            <span>{{$index}}</span>
          </div>
          <a >
            <img class="post_content" ng-src="{{post.picture}}" ng-click="main.setCurrentPostFn(post)">
          </a>
          <section class="post_footer">
            <span>Просмотры</span>
            <div class="comments">
            </div>
            <hr>
            <div class="row">
              <div class="heart col-xs-2"></div>
              <div class="col-xs-10">
                <comments></comments>
              </div>
            </div>

          </section>
        </article>
      </div>
    </div>
  </div>
  <div class="row">
    <div>
      <a href="">
        <i class="material-icons" ng-click="main.showMorePostsFunc()">autorenew</i>
      </a>
    </div>
  </div>
</div>