<div class="background">
  <div class="row">
    <div class="col-sm-offset-3 col-sm-6 col-xs-12">
      <div ng-repeat="post in main.posts | limitTo: main.postsCount">
        <article class="post">
          <div class="post_header">

            <img
                 class="profile_image_small"
                 ng-src="{{post.thumbnailUrl}}"
                 alt=""
            />
            https://jsonplaceholder.typicode.com/photos/{{post.id}}
            <span>Publish date</span>
          </div>
          <a href="#!/post" ng-click="main.downloadCurrentPostFn(post.id)">
            <img class="post_content" ng-src="{{post.url}}"/>
          </a>
          <section class="post_footer">
            <span>Просмотры</span><span>{{main.postId}}</span>
            <div class="comments">
            </div>
            <hr>
            <div class="row">
              <div class="heart col-xs-2"></div>
              <div class="col-xs-10">
                <input type="text">
              </div>
            </div>
          </section>
        </article>
      </div>
    </div>
  </div>
  <div class="row">
    <div>
      <a href="">
        <i class="material-icons" ng-click="main.showMorePostsFunc()">autorenew</i>
      </a>
    </div>
  </div>
</div>