<div class="login-background">
<video poster="images/video-poster.jpg" id="bgvid" playsinline autoplay loop>
  <source src="video/dog_2.webm" type="video/webm">
</video>
<div class="login-form-block">
  <form class="form-horizontal" role="form" action="/login">

    <div class="form-group">
      <label class="sr-only" for="username">Email</label>
      <input
              type="text"
              class="form-control"
              id="username"
              placeholder="Username"
              ng-model="login.username">
    </div>

    <div class="form-group">
      <label class="sr-only" for="password">Пароль</label>
      <input
              type="password"
             class="form-control"
             id="password"
             placeholder="Password"
             ng-model="login.password">
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox"> Запомнить меня
      </label>
    </div>
    <button type="button" class="btn btn-default" ng-click="login.logInFunc()">Login</button>
    <a href="">Sign in</a>
  </form>
  <br>
  <p style="color: red">Login & Pass: admin</p>
</div>
</div>